
body {
    font-family: 'Press Start 2P', cursive;
    background-color:#b96b78;
    text-align: center;
    color: #4b4b4b;
}
h1 {
    text-shadow: 2px 2px wheat;
}
.gamesect{
    display: grid;
    max-width: 50%;
    flex-direction: column;
    align-items: center;
    margin: auto;
    row-gap: 1vh;
    background-color: #b96b78;
}

.results{
    display: flex;
    border: 5px ridge #5e5e5e;
    justify-content: space-between;
    gap: 5vw;
    padding: 2vh 5vw;
}
#prompt{
    width: 175px;
    height:104px; 
    text-align:center;
    font-size: larger;
    line-height: 1.5em;
    padding-top: 2vh;
}
#scorepy, #scorepc {
    border:3px solid #8070ac;
    padding: 1vh 3vw;
    background-color: wheat;
    color: #5e5e5e;
    font-size: larger;
    margin-bottom: 5px;
}
.que {
    box-shadow: rgba(0, 0, 0, 0.45) 4px 10px 4px;
    margin-top: 5px;
}
.selection {
    display: flex;
    border: 5px ridge #5e5e5e;
    justify-content: space-between;
    gap: 5vw;
    padding: 5vw;
}
.selections {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding: 4px;
    border:3px solid wheat;
    border-radius: 4px;
    background-color: #bf7884; /*just a little lighter of background*/
}
img {
    border:2px solid wheat;
    border-radius: 4px;
    max-width: 100%;
}
button {
    background-color: #8070ac;
    font-family: inherit;
    color: wheat;
    padding: 10px;
    width: 140px;
    margin-top: 8px;
}
.selections:hover {
    transform: scale(1.08);
    box-shadow: 0 0 1rem #ffc600;
    
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: smaller;
    z-index: -1;
}

/* Responsive */
@media(max-width:1200px){
    .gamesect{ display: flex;}
}
@media (max-width:750px){
    h1{font-size: 22px;}
    .gamesect{display:flex;
        font-size: 10px;
        width: 90%;
        margin: auto}
    #prompt{width: 135px;}
    .results{gap:2vw;
        padding: 3vw;
        border:initial; 
        border-top: 5px ridge #5e5e5e;}
    .selection{gap: 1vw;
        padding: 3vw;
        border: initial;}
    button{width: fit-content;
        font-size: 10px;}
    img {max-width: 100px;}
}

/* Animations */
.pick {
    animation-name: bounce;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    /* animation-timing-function: step-start; */
}
@keyframes bounce {
    0%  {transform:translateY(0px) scale(1,1);}
    10% {transform:translateY(10px) scale(1.1,.9);}
    30% {transform:translateY(0px) scale(1,1);}
    40% {transform:translateY(10px) scale(1.1,.9);}
    60% {transform:translateY(0px) scale(1,1);}
    70% {transform:translateY(10px) scale(1.1,.9);}
    94% {transform:translateY(-12px) scale(1,1);}
    100%{transform:translateY(10px) scale(1.1,.9);}
}

/* Game End Stuff */

.overlay{
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    z-index: 2;
}
.claimer-win{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 3em;
    z-index: 3;
    background: #109010;
    border: 8px ridge #5e5e5e;
    font-size: large;
    color: wheat;
}
.claimer-lose{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 3em;
    z-index: 3;
    background: #901036;
    border: 8px ridge #5e5e5e;
    font-size: large;
    color: wheat;
}
.open {
    display: block;
}